head
	title Cloud Computing
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
	script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
	nav(class="navbar navbar-expand-lg navbar-light bg-light")
		div(class="navbar-brand") Cloud Computing
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav")
			span(class="navbar-toggler-icon")
		div(class="collapse navbar-collapse" id="navbarNav")
			ul(class="nav navbar-nav")
				if session && session.name && session.email
					li(class="nav-item")
						a(class="nav-link" href="/") Hello, #{session.name}
					li(class="nav-item")
						a(class="nav-link" href="/logout") Logout
				else
					li(class="nav-item")
						a(class="nav-link" href="/login") Login
					li(class="nav-item")
						a(class="nav-link" href="/signup") Signup
	
	!= messages('my_message_template', locals)

body
	block content

script.
	$(document).ready(function() {
		setTimeout(function() {
				$(".alert").alert('close');
		}, 5000);
	});
