doctype html
html
  include head.pug
  body
    div(class="container mt-5")
      h3 This is a sample Node/Express application.
      div(class="container mt-3")
        h5
          a(href="/login") Login
        h5
          a(href="/signup") Signup